<?xml version="1.0"?>
<ruleset name="HDY Custom Login Logo">
	<description>PHPCS/WPCS rules for HDY Custom Login Logo.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg name="extensions" value="php"/>

	<file>./hdy-custom-login-logo.php</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/.git/*</exclude-pattern>

	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="Universal.Arrays.DisallowShortArraySyntax">
		<severity>0</severity>
	</rule>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*.php</include-pattern>
	</rule>

	<config name="testVersion" value="7.4-"/>
</ruleset>
